<mat-toolbar color="primary">TestPaloIT</mat-toolbar>

<div class="content">
  <div class="body-content">
    <form [formGroup]="formLucky" (ngSubmit)="getNumberLucky()">
      <mat-form-field class="number-lucky">
        <input matInput
               #number
               minlength="14"
               maxlength="16"
               formControlName="number"
               placeholder="Card Number">
        <mat-hint align="end">{{number.value?.length || 0}}/16</mat-hint>
        <mat-error *ngIf="formLucky.get('number').hasError('required')">El campo es requerido</mat-error>
        <mat-error *ngIf="formLucky.get('number').hasError('minlength')">El minimo de caracteres es de 14</mat-error>
        <mat-error *ngIf="formLucky.get('number').hasError('maxlength')">El máximo de caracteres es de 16</mat-error>
        <mat-error *ngIf="formLucky.get('number').hasError('pattern')">Solo se admiten números</mat-error>
      </mat-form-field>


      <button mat-raised-button
              type="submit"
              color="primary"
              [disabled]="formLucky.invalid"
              class="btn-lucky">
        Calcular Número de la Suerte
      </button>
    </form>

    <label class="res-number" *ngIf="numLucky">Número de la suerte: {{numLucky}}</label>
  </div>
</div>
